.preview-wrap {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}

.preview-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.preview {
  cursor: pointer;
  position: relative;
  top: 0;
  height: 78vh;
  width: 430px;
  opacity: 0.9;
  margin: 15vh 0;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  transform: rotate3d(0);
  filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.08));
}

.preview.active {
  transform: none!important;
  opacity: 1;
  filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.2));
  position: absolute;
  top: -15vh;
  height: 100vh;
  width: 40vw;
  transition-duration: 300ms;
  transition-delay: 200ms;
  transition-timing-function: ease-in-out;
}

/* .preview.active .shape_1{
  clip-path: circle(100%);
} */

.preview.hidden {
  display: none;
}

.preview__video {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.preview__video::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.7s all ease-in-out;
}

.active .preview__video::before{
  background-color: rgba(0, 0, 0, 0);
}

.preview__video video {
  object-fit: cover;
}

.preview__infos {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.preview__descr{
  width: 300px;
}

.preview.active .preview__infos{
  opacity: 0;
  transform: translateY(10px);
  transition: 0.3s all ease-out;
}

.preview__infos .preview__title {
  margin-bottom: 10px;
  transition: 0.3s all ease-out;
}

.preview__infos .preview__descr {
  opacity: 0;
  transform: translateY(10px);
  transition: 0.2s all ease-in;
}

.preview:hover {
  opacity: 1;
  filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.2));
}

.preview:hover .preview__descr {
  opacity: 1;
  transform: translateY(0);
  transition: 0.3s all ease-out;
}

.preview:hover .preview__infos .preview__title {
  transform: translateY(-10px);
  transition: 0.3s all ease-out;
}

.shape_1 {
  clip-path: url(#shape_1);
  transition: clip-path 0.5s ease-out;
}

.close {
  z-index: 4;
  position: fixed;
  top: 0;
  cursor: pointer;
}
