.preview-wrap {
  opacity: 0;
  display: none;
  position: relative;
  z-index: 1;
  min-height: 100vh;
  animation: previewApparition 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;

}

main.loaded .preview-wrap {
  display: block;
}

@keyframes previewApparition {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.preview-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.preview {
  cursor: pointer;
  position: relative;
  top: 0;
  height: 78vh;
  width: 430px;
  opacity: 0.9;
  margin: 10vh 0;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  transform: rotate3d(0);
  filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.08));
}

.preview.active {
  transform: none !important;
  opacity: 1;
  filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.2));
  position: absolute;
  top: -10vh;
  height: 100vh;
  width: 40vw;
  transition-duration: 300ms;
  transition-delay: 200ms;
  transition-timing-function: ease-in-out;
}

/* .preview.active .shape_1{
  clip-path: circle(100%);
} */

.preview.hidden {
  display: none;
}

.preview__video {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.preview__video::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.7s all ease-in-out;
}

.active .preview__video::before {
  background-color: rgba(0, 0, 0, 0);
}

.preview__video video {
  object-fit: cover;
}

.preview__infos {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.preview__descr {
  width: 300px;
}

.preview.active .preview__infos {
  opacity: 0;
  transform: translateY(10px);
  transition: 0.3s all ease-out;
}

.preview__infos .preview__title {
  margin-bottom: 10px;
  transition: 0.3s all ease-out;
}

.preview__infos .preview__descr {
  opacity: 0;
  transform: translateY(10px);
  transition: 0.2s all ease-in;
}

.preview:hover {
  opacity: 1;
  filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.2));
}

.preview:hover .preview__descr {
  opacity: 1;
  transform: translateY(0);
  transition: 0.3s all ease-out;
}

.preview:hover .preview__infos .preview__title {
  transform: translateY(-10px);
  transition: 0.3s all ease-out;
}

.shape_1 {
  clip-path: url(#shape_1);
  transition: clip-path 0.5s ease-out;
}

.close-container{
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 35px;
  right: 48.5%;
}
.close {
  z-index: 4;
  opacity: 0;
  position: fixed;
  cursor: pointer;
  border: 1px var(--color-text) solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.close.active{
  opacity: 1;
  transition: 0.3s all ease-in;
}

.close svg{
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
